.link {
  font-size: 18px;
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
  max-width: 178px;
  margin-bottom: 16px;

  @media screen and (min-width:$br-tablet) {
    max-width: 211px;
  }

  &:hover {
    color: var(--color-brand-normal);
  }
}