.chefs-section {
    &__title {
        position: relative;
        margin: 0 auto;
        margin-bottom: 24px;

        @media screen and (min-width:$br-desctop) {
            margin-bottom: 80px;
        }

        &::before,
        &::after {
            position: absolute;
            bottom: 24px;
            display: none;
            width: 352px;
            height: 0px;
            border: 2px solid var(--color-brand-light);
            content: "";

            @media screen and (min-width:$br-desctop) {
                display: block;
            }
        }

        &::before {
            position: absolute;
            left: 0;
        }

        &::after {
            position: absolute;
            right: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media screen and (min-width:$br-tablet) {
            gap: 40px;
            flex-direction: row;
        }
    }

    &__item {
        @media screen and (min-width:$br-tablet) {
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}