.contact-section {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 1240px;

        @media screen and (min-width:$br-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
        margin: 0 -24px -44px -24px;
        height: 176px;

        @media screen and (min-width:$br-tablet) {
            width: 385px;
            height: 500px;
            margin: 0;
        }

        @media screen and (min-width:$br-desctop) {
            width: 600px;
            height: 595px;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 900;
        text-align: center;

        @media screen and (min-width:$br-tablet) {
            text-align: left;
            margin-bottom: 16px;
        }
    }

    &__field {
        margin-bottom: 24px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        @media screen and (min-width:$br-tablet) {
            margin: 0 auto 16px;
        }
    }

    &__text {
        color: var(--color-brand-dark);
        margin-bottom: 72px;
        font-size: 14px;
        text-align: left;
        margin: 0px 0px 24px 0px;
        text-align: center;

        @media screen and (min-width:$br-tablet) {
            text-align: left;
            font-size: 18px;
            margin: 0px 0px 42px 0px;
        }
    }

    &__form-terms {
        display: none;

        @media screen and (min-width:$br-tablet) {
            display: block;
        }
    }
}