.footer {
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 8px 0;
    position: relative;
    text-align: center;

    &::after,
    &::before {
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        content: "";
    }

    &::before {
        width: 180px;
        height: 120px;
        left: 0;
        background-image: url(../images/bread\ decour\ small.png);
    }

    &::after {
        width: 380px;
        height: 190px;
        right: 0;
        background-image: url(../images/bread\ decour\ large.png);
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media screen and (min-width: $br-tablet) {
            gap: 20px;
            flex-direction: row;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;

        gap: 20px;

        @media screen and (min-width: $br-tablet) {
            text-align: left;
            flex-basis: 50%;
            flex-direction: row;
        }
    }

    &__logo,
    &__menu,
    &__list,
    &__info {
        flex-grow: 1;
    }

    &__net {
        display: flex;
        justify-content: center;
        gap: 22px;
    }

    &__icon {
        fill: var(--color-primary-light);
        transition: fill 0.3s;

        &:hover {
            fill: var(--color-brand-normal);
        }
    }


    &__link {
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        color: var(--color-primary-light);
        transition: color 0.3s;

        &:hover {
            color: var(--color-brand-normal);
        }
    }

    &__copyright {
        color: #a18268;
        font-size: 14px;
        font-weight: 400;
    }
}